{% extends "base.html" %}
{% load static wagtailimages_tags %}

{% block body_class %}about{% endblock %}

{% block extra_css %} {% endblock extra_css %}

{% block content %}
<h1 class="text-center">{{ page.title }}</h1>

<div class="container">

<img src="{% static 'images/image-1.jpg' %}" width="300"> 

<div class="row">

          {% for photo in page.gallery_images.all %}
              <div class="col-xs-6 m-2">
                {% image photo.image fill-300x300-c100 format-png class="responsive"%}
              </div>
          {% endfor %}

   {% image page.photo width-400 %}
   {% image page.photo fill-80x80 %}

</div>
</div>
 
{% endblock content %}