{% extends "base.html" %}
{% load static wagtailimages_tags%}

{% block body_class %}home{% endblock %}

{% block extra_css %} {% endblock extra_css %}

{% block content %}
<h1 class="text-center">{{ page.title }}</h1>

  <figure class="hidden-md-up">
        {% image page.image width-500 %}
  </figure>

{{ page.body }}

{{ page.text }}

 <h4 class="text-white">{{ settings.global_settings.SocialMediaSettings.twitter}}</h4>

<h4>{{ settings.global_settings.SocialMediaSettings.linkedin}}</h4>
 
{% endblock content %}
