section {
  width: 80vw;
  margin: 5vh auto;
  grid-gap: 1vh;
  grid-template-columns: 24.25% 24.25% 24.25% 24.25%;
}

header, footer  {
  width: 100vw;
  height: 15vh;
  background-color: #001;
}

.home {
  background-color: #ff1;
}

.about {
  background-color: #f33;
}

.contact {
  background-color: #bb2;
}
